.closedrive {
    width: 65%;
    margin-right: 15px;
    margin-left: 15px;
}

.cd__container {
    border: 2px solid orange;
    border-radius: 10px;
    padding: 20px;
}

.cd__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cd__passenger {
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.cd__passenger-props {
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cd__driver {
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.cd__driver-props {
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cd__status {
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.cd__status-props {
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cd__cost {
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.cd__cost-props {
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cd__departure {
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.cd__departure-props {
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cd__destination {
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.cd__destination-props {
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cd__description {
    color: black;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cd__description-props {
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}