.createorder {
    background: white;
    width: 60%;
    height: 100vh;
    border-right: 1px solid black;
}

.createorder__row {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.createorder__form {
    width: 70%;
}

.createorder__column {
    display: flex;
    flex-direction: column;
}

.createorder__title {
    align-self: center;
    color: black;
    font-family: 'Inter' sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
}

.createorder__main {
    border: 2px solid orange;
    border-radius: 20px;
    padding: 30px 50px;
    background: rgba(255, 255, 255, 0.60);
}

.createorder__departure-title {
    color: black;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.createorder__departure-input {
    border: 2px solid orange;
    font-size: 20px;
    font-family: 'Inter' sans-serif;
    width: 100%;
    padding: 24px 40px;
    border-radius: 10px;
    background: #FFF;
}

.createorder__destination-title {
    color: black;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.createorder__destination-input {
    border: 2px solid orange;
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 24px 40px;
    border-radius: 10px;
    background: #FFF;
}

.createorder__cost-title {
    color: black;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.createorder__cost-input {
    border: 2px solid orange;
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 24px 40px;
    border-radius: 10px;
    background: #FFF;
}

.createorder__description-title {
    color: black;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.createorder__description-input {
    border: 2px solid orange;
    font-family: 'Inter' sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 24px 40px;
    border-radius: 10px;
    background: #FFF;
}

.createorder__button {
    margin-top: 30px;
    width: 30%;
    text-align: center;
    padding: 10px 0px;
    border-radius: 20px;
    background: orange;
    color: white;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.createorder__button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}